
<ion-content [fullscreen]="true">


  <ion-header>
      <ion-title size="large">
        <img src="assets/Imagem/Nike.png" alt="Nike" class ="titulo-logo" width=" 75px"/>
      </ion-title>
    </ion-header>

    <img src="assets/Imagem/sapato1.png" alt="Tênis" class ="Tenis" />
    <p class="Fonte_Titulo">Summer COLLECTIONS 
    </p>
    <p class ="Fonte_Titulo2">
      2022
    </p>

<ion-button class="Botão" color="warning" expand="block"(click) = "NextPage()" >GET START</ion-button>
  <ion-content class="tab1-custom-background">
  </ion-content>
</ion-content>