.titulo-logo{
  width: 100px;
    margin-right: 10px; 
    vertical-align: middle; 
  }

  .Tenis{
    width: 350px;
    margin-bottom: -80px;
  
  }
  
  ion-content {
    --background: radial-gradient(circle, rgba(16,159,143,1) 1%, rgba(19,157,141,1) 2%, rgba(46,215,129,1) 99%, rgba(48,207,128,1));
}
.Fonte_Titulo{
  margin-bottom: -50px;
  margin-left: 20px;
  font-family: 'Holtwood One SC', serif;
  padding: 1px;
  font-size: 35px;
  color: #1d486d;
  margin-right: -40px
}

.Fonte_Titulo2{
  margin-left: 20px;
  font-family: 'Holtwood One SC', serif;
  font-size: 35px;
  color: #ffffff;
  margin-right: -40px
  
}


.Botão{
  color: orange;
  padding: 100px 70px; 
  border: none; 
  border-radius: 40px; 
}
.Texto{
  font-family: 'Istok Web', sans-serif;
  color: #ffffff;
  margin-bottom: -60px;
}